# OS X
.DS_Store
.AppleDouble
.LSOverride

# Emacs

*~
[#]*[#]
.\#*

# R studio
.Rhistory
.Rapp.history

# generated spectogram files
data/spectograms/

# Java
*.class

# Eclipse Files
.classpath
.project
.buildpath

# LaTeX extra binary files #
############################
*.aux
*.bbl
*.log
*.blg
*.out
